<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/home']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let noticia of noticias" button>
    <a [href]="noticia.link" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
      <img [src]="noticia.imagem" *ngIf="noticia.imagem" />
      <ion-card-header>
        <ion-card-title>{{ noticia.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ formatarData(noticia.data) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ noticia.descricao }}
      </ion-card-content>
    </a>
  </ion-card>
</ion-content>