<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="salvarPerfil()" #perfilForm="ngForm">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="email" 
        name="email" 
        [(ngModel)]="email" 
        readonly>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input 
        type="text" 
        name="nome" 
        [(ngModel)]="nome" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input 
        type="text" 
        name="sobrenome" 
        [(ngModel)]="sobrenome">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input 
        type="tel" 
        name="telefone" 
        [(ngModel)]="telefone">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de nascimento</ion-label>
      <ion-datetime 
        displayFormat="DD/MM/YYYY" 
        pickerFormat="DD MMM YYYY" 
        name="dataNascimento" 
        [(ngModel)]="dataNascimento">
      </ion-datetime>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!perfilForm.form.valid" 
      class="ion-margin-top">
      Salvar alterações
    </ion-button>

  </form>
</ion-content>
