<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/home']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buscar Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [(ngModel)]="searchName" 
    (ionInput)="onSearch()"
    placeholder="Digite o nome da receita..." style="color:#3880ff">
  </ion-searchbar>

  <ion-list *ngIf="meals.length > 0">
   <ion-item *ngFor="let meal of meals">
  <ion-thumbnail slot="start">
    <img [src]="meal.strMealThumb" />
  </ion-thumbnail>
  <ion-label (click)="irParaMeal(meal.idMeal)">
    <h2>{{ meal.strMeal }}</h2>
    <p>{{ meal.strCategory }}</p>
  </ion-label>
  <ion-icon
    name="{{ isFavorito(meal.idMeal) ? 'heart' : 'heart-outline' }}"
    slot="end"
    (click)="toggleFavorito(meal); $event.stopPropagation();"
    color="danger">
  </ion-icon>
</ion-item>

  </ion-list>

  <div *ngIf="meals.length === 0 && searchName.length > 0">
    <p>Nenhuma refeição encontrada.</p>
  </div>

</ion-content>
