<ion-header>
  <ion-toolbar>
    <ion-title>{{ receita?.strMeal }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="receita">
  <img [src]="receita.strMealThumb" />
  <h2 style="display: flex; justify-content: space-between; align-items: center;">
    {{ receita.strMeal }}
    <ion-icon
      [name]="isFavorito() ? 'heart' : 'heart-outline'"
      color="danger"
      style="font-size: 24px; cursor: pointer;"
      (click)="toggleFavorito()">
    </ion-icon>
  </h2>

  <p><strong>Categoria:</strong> {{ receita.strCategory }}</p>
  <p><strong>Área:</strong> {{ receita.strArea }}</p>
  <h3>Instruções</h3>
  <p>{{ receita.strInstructions }}</p>
</ion-content>
